// Configuration file
var path = require('path');

var config = {
	HOST: 'localhost',
	PORT: 3001,

	MASTER_HOST: 'http://localhost',
	MASTER_PORT: 3000,
	
	CLIENT_NAME: "SRV1",
	MAX_MS_INTERVAL: 35 * 60 * 1000,

	USER_ID: "Test Man <testman@test.me>",
	PRIV_KEY_FILE: path.join(__dirname, "..", "keys", "client.private.key"),
	PUB_KEY_FILE: path.join(__dirname, "..", "keys", "client.public.key"),
	HOST_KEY: path.join(__dirname, "..", "keys", "host.public.key")
};

module.exports = config;